@import "../../node_modules/compass-mixins/lib/compass";

@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto-Regular.ttf");
}

// Typographies
@mixin normal-bold-14 {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
}
@mixin normal-medium-16 {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}
@mixin normal-medium-20 {
	font-family: "Roboto";
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
}
@mixin normal-regular-16 {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}
@mixin roboto-bold-16-no-case {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
}
@mixin roboto-regular-12 {
	font-family: "Roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}
@mixin roboto-regular-14-no-case {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}
@mixin uppercase-bold-12 {
	font-family: "Roboto";
	font-size: 12px;
	font-weight: 700;
	line-height: normal;
}
