@import "../../index";

.sectionHeaderTabs {
	background-color: $primary-darkest-blue;
	padding: 24px 40px;
	display: flex;
	align-items: flex-end;
}
.logo {
	&:not(:last-of-type) {
		margin-right: 48px;
	}
}
