@import "../../index";

.loggedUser {
	display: flex;
	align-items: center;
}
.frame347 {
	margin-right: 16px;
	display: flex;
	align-items: center;
}
.profilePic {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	border-radius: 50%;
	border: 1px solid $white;
	background-image: url("https://static.overlay-tech.com/assets/8647eea2-ab7e-462e-95f7-b4e335277e75.png");
}
.userName {
	@include roboto-regular-14-no-case;
	color: $white-font;
	margin-right: 8px;
}
