.notificationIcon {
	padding: 1px 2px 1px 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.relativeWrapperOne {
	position: relative;
}
.subtract {
	width: 13px;
	height: 13px;
	position: relative;
}
.ellipse112 {
	position: absolute;
	right: -1px;
	top: 0;
}
