@import "../../index";

.singleTab {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.tabLabel {
	@include normal-regular-16;
	color: $primary-dark-blue-text;
	margin-bottom: 8px;
}

.tabSelector {
	width: 80px;
	height: 2px;
	background-color: $primary-dark-blue;
}
