@import "../index.scss";
.logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.grupo787 {
	margin-bottom: 6px;
	margin-left: 41px;
	display: flex;
	align-items: flex-start;
}
.elipse84 {
	margin-top: 10px;
	margin-right: 4px;
}
.elipse85 {
	margin-top: 10px;
	margin-right: 3px;
}
.silin {
	display: flex;
	align-items: flex-start;
}
.trazado82 {
	&:not(:last-of-type) {
		margin-right: 5px;
	}
}
.trazado79 {
	margin-right: 6px;
}
