@import "../index.scss";

.profilePicture {
	background-color: $white;
	border-radius: 16px;
	padding: 25px 18px 19px 11px;
	display: flex;
	align-items: flex-start;
	border: 1px solid $medium-grey;
}
