@import "../index.scss";
.sidebar {
	background-color: $primary-darkest-blue;
	padding: 16px 0 16px 24px;

	display: flex;
	align-items: flex-start;
}
.label {
	@include roboto-regular-14-no-case;
	color: $washed-down-blue;
	width: 100%;
}
