@import "../index.scss";

.sidebarHeader {
	padding: 24px 126px 24px 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.frame366 {
	margin-bottom: 32px;
	display: flex;
	align-items: center;
}
.arrowIcon {
	margin-right: 8px;
}
.volver {
	@include roboto-regular-14-no-case;
	color: $washed-down-blue;
}
.frame367 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.profilePicture {
	margin-bottom: 16px;
}
.name {
	@include normal-bold-14;
	color: $washed-down-blue;
}
