@import "../index.scss";

.sidebar {
	background-color: $darker-blue;
	padding: 16px 0 16px 24px;
	display: flex;
	align-items: center;
	border-right: 4px solid $yellow;
}
.label {
	@include roboto-regular-14-no-case;
	color: $washed-down-blue;
	flex: 1;
}
