@import "./styles/font.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

$darker-blue: rgba(38, 64, 92, 1);
$medium-grey: rgba(221, 221, 221, 1);
$neutral-lighter-grey: rgba(189, 189, 189, 1);
$primary-dark-blue: rgba(8, 86, 178, 1);
$primary-darkest-blue: rgba(5, 28, 57, 1);
$white: rgba(255, 255, 255, 1);
$yellow: rgba(253, 171, 60, 1);

$darked-washed-down-blue: #c7daf1;
$darkest-grey: #4f4f4f;
$neutral-lighter-grey-text: #bdbdbd;
$primary-dark-blue-text: #0856b2;
$text: #707070;
$washed-down-blue: #e5ecf3;
$white-font: #ffffff;
