@import "../../index.scss";

.sidebar {
	background-color: $primary-darkest-blue;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sidebarHeader {
	margin-bottom: 24px;
}
.frame25 {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	width: 100%;
}
.frame365 {
	padding: 8px 0 8px 24px;
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.modulos {
	@include uppercase-bold-12;
	color: $darked-washed-down-blue;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.frame349 {
	padding: 24px 24px 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
}
